<main class="content">
  <h1>Multi-DD Demo</h1>
  <p>This is a demo of the Multi-DD feature.</p>
  <p>It demonstrates how to use the Multi-DD feature to create a new component.</p>
  <p>Below is a table of players in the party. Drag and drop to reorder the players.</p>

  <input type="checkbox" id="customization" (change)="toggleCustomiztion()" [checked]="isCustomized">
  <label for="customization">Enable Multi-Drag(Disable the Default behavior from CDK)</label>

  <div cdkDropList #ddContainer class="dd-table-container" (cdkDropListDropped)="onDrop($event)" >
    <div class="dd-table-header">
      <div class="dd-table-row">
        <div class="dd-table-cell">ID</div>
        <div class="dd-table-cell">Character Name</div>
        <div class="dd-table-cell">Class</div>
        <div class="dd-table-cell">Description</div>
        <div class="dd-table-cell">Status</div>
      </div>
    </div>

    <div class="dd-table-body">
      <div class="dd-table-row" *ngFor="let player of players" 
        [class.selected]="player.isChosen"
        [style.display]="player.isDragging ? 'none' : ''"
        (click)="onPlayerClick(player)"
        cdkDrag 
        cdkDragPreviewContainer="parent"
        cdkDragBoundary=".dd-table-body"
        [id]="player.id"
        [cdkDragData]="player"
        (cdkDragStarted)="onDragStarted($event)"
        (cdkDragMoved)="onDragMoved($event)"
        (keydown)="onKeyDown($event)"
        [style.transform]="getItemTransform(player.id)"
      >
        <!-- multi-drag preview -->
        <div *cdkDragPreview matchSize>
          <div class="dd-table-drag-preview" [style.width]="ddContainer.offsetWidth + 'px'">
            <div class="dd-table-row" [class.selected]="player.isChosen" *ngFor="let player of draggingPlayers">
              <div class="dd-table-cell">{{player.id}}</div>
              <div class="dd-table-cell">{{player.name}}</div>
              <div class="dd-table-cell">{{player.class}}</div>
              <div class="dd-table-cell description">{{player.description}}</div>
              <div class="dd-table-cell status" [ngClass]="{'active': player.status, 'inactive': !player.status}">
                {{player.status ? 'Active' : 'Inactive'}}
              </div>
            </div>
          </div>
        </div>

        <!-- placeholder -->
        <div class="dd-placeholder-container" *cdkDragPlaceholder>
          <div class="dd-placeholder-row"></div>
        </div>

        <div class="dd-table-cell">{{player.id}}</div>
        <div class="dd-table-cell">{{player.name}}</div>
        <div class="dd-table-cell">{{player.class}}</div>
        <div class="dd-table-cell description">{{player.description}}</div>
        <div class="dd-table-cell status" [ngClass]="{'active': player.status, 'inactive': !player.status}">
          {{player.status ? 'Active' : 'Inactive'}}
        </div>
      </div>
    </div>
  </div>
</main>
